<h1>Activity Feed</h1>

<%= will_paginate @activities, inner_window: 2 %>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>When?</th>
      <th>What happened?</th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= human_date_and_time(activity.created_at) %></td>
        <td><%= "#{link_to activity.doer.spiritual_name, detail_path(activity.doer)} #{activity.message}".html_safe %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @activities, inner_window: 2 %>

<%= render 'shared/admin_sidebar' %>
